html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

)
.table.dataTable thead {
	padding: 3px 4px;
	font-size: x-small;
	line-height: 20px
}

.table.dataTable th {
	padding: 3px 12px;
	line-height: 20px
}

.table.dataTable td {
	padding: 2px 2px;
	line-height: 14px;
}

.dataTables_scrollBody {
	overflow: hidden;
	overflow-y: auto;
	overflow-x: auto;
}

.mapHeader {
	font-weight: normal;
	height: 45px;
	overflow: auto;
	padding: 2px 5px 2px 5px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

td.centerVert {
	vertical-align: middle;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

td.tdTextCenter{
	text-align: center;
}

#sidt_info {
	padding-top: 0;
}

#fullheight {
	min-height: 100%;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	overflow: hidden;
}

#pagewidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin: 0 auto;
}

#myMenu {
	position: relative;
	height: 10%;
	background-color: #FFFFFF;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: auto;
}

#myContent {
	background-color: #FFFFFF;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
}

#myFooter {
	height: 10%;
	width: 80%;
	size: 20;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	clear: both;
	display: block;
	overflow: auto;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	width: auto;
	height: auto;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.myfont {
	margin: 0;
	padding: 0;
	text-align: left;
}

#centeralign11 {
	margin: 0; padding 0;
	text-align: center;
	color: #000000;
	font-size: 11pt;
}

h2 {
	text-align: right;
	font-size: 10pt;
}